<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
    <header>
        <ul>
            <li>
                <a href=""> <img src="/public/image/u=2386126197,1618699013&fm=11&gp=0.jpg" alt=""></a>
            </li>
        </ul>
    </header>
    <nav id="nav">
        <ul class="clearfix">
            <li class="active" id="index">首页</li>
            <!-- <li>HTML5</li>
            <li>CSS</li>
            <li>JAVASCRIPT</li>
            <li>EXPRESS</li>
            <li>VUE</li>
            <li>REACT</li> -->
        </ul>
    </nav>
    <main class='clearfix'>
        <article>
            <ul id="content">
                <!-- <li>
                    <h3>h1标签</h3>
                    作者：<span></span> -时间：
                    <span></span> -阅读：
                    <span></span> -评论：
                    <span></span>
                    <p>h1标签介绍</p>
                    <a href="">阅读全文</a>
                </li>
                <li>
                    <h3></h3>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <p></p>
                    <a href=""></a>
                </li>
                <li>
                    <h3></h3>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <p></p>
                    <a href=""></a>
                </li> -->
            </ul>
        </article>
        <aside>
            <ul>
                {{ if user }}
                <div id="administrator">
                    <h4>用户信息</h4>
                    <p>用户名：{{ user }}</p>
                    <p>
                        {{ if !isAdmin }} 欢迎光临我的博客 {{ else }} 你好，你是管理员
                        <a href="/admin">点击这里进入管理员页面</a> {{ /if }}
                    </p>
                    <a href="javascript:;">退出登入</a>
                </div>
                {{ /if }} {{ if !user }}
                <li id="login">
                    <h3>登入</h3>
                    <form>
                        <label for="">用户名：</label>
                        <input type="text" name="user">
                        <label for="">密　码：</label>
                        <input type="password" name="pass">
                        <input type="submit" value='登入'>
                    </form>
                    <p>还没注册?<a href="javascript:;">马上注册</a></p>
                </li>
                {{ /if }} {{ if !user }}
                <li id="enter">
                    <h3>注册</h3>
                    <form>
                        <label for="">用户名：</label>
                        <input type="text" name="user">
                        <label for="">密　码：</label>
                        <input type="password" name="pass">
                        <label for="">确　认：</label>
                        <input type="password" name="newpass">
                        <input type="submit" value="注册" id="enter1">
                    </form>
                    <p>已有账户?<a href="javascript:;">立即登入</a></p>
                </li>
                {{ /if }}
                <li>
                    <h3>社区</h3>
                    <p>1</p>
                    <p>2</p>
                </li>
            </ul>
        </aside>
        <div class="paging">
            <p id="top">上一页</p>
            <p id="center">1/2</p>
            <p id="bottom">下一页</p>
        </div>
    </main>
    <footer>
        <div>
            博主：start &nbsp;&nbsp; 邮箱：1136633287@qq.com &nbsp;&nbsp;githup：<a href="https://github.com/ShowTimeYu">https://github.com/ShowTimeYu</a>
        </div>
    </footer>

    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
</body>

</html>